*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

body h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}
.center 
{
    text-align: center;
}
.t-left 
{
    text-align: left !important;
}




/* notesheet no */

.notesheet-no p {
    font-weight: bold;
    margin: 0 auto;
    text-decoration: underline;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.body  p{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    margin-bottom: 1rem !important;
}


/* notesheet table */


.notesheet-table th {
    text-transform: none;
    text-align: center;
}

.notesheet-table table td {
    padding-left: 5px;
}

.notesheet-table table td.money {
    text-align: right !important;
}
th>th{
    text-align: center !important;
}
td .money
{
    text-align: right !important;
}

.notesheet-table table td:first-child {
    text-align: center;
}


/* notesheet signature */
.signature
{
    display: flex;
    justify-content: space-around;
}


.signature .signing-name {
    font-size: 15px;
    text-transform: uppercase;
}
.signature p, .creator p
{
    font-size: 14px;
}


.caption {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.source-office {
    display: flex;
    justify-content: space-around;
}
.source-office-details>p {
    font-size: 14px;
}

.authority p {
    font-size: 14px;
}

.authority {
    display: flex ;
    flex-wrap: wrap !important;
    justify-content: space-between;
}

.authority-details {
    width: 74% ;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.authority-date {
    width: 26% !important;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.title-text {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-align: justify;
}
.sub-title {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.designation {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
/* fin annex */
.appindix 
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}
.annex {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}
.annex-date, .annex-detail
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}
.appindix p, .annex p, .annex-date p, .annex-detail p 
{
    font-weight: bold;
    font-size: 16px;
}
.source-office {
    margin-bottom: 15px;
}

.technical-terms ol {
    padding-left: 14px;
}
ol > li {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}