body h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.padding-top {
    padding-top: 20px;
}

.notesheet {
    padding: 20px 10px 10px 20px;
}


/* notesheet no */

.notesheet-no {
    margin: 0 auto;
}

.notesheet-no h4 {
    text-decoration: underline;
    text-align: center;
}


/* notesheet table */

.notesheet-table table {
    width: 100%;
}

.notesheet-table th {
    text-transform: none;
    text-align: center;
}

.notesheet-table table td {
    padding-left: 5px;
}

.notesheet-table table td.money {
    text-align: right;
    padding-right: 5px;
}

.notesheet-table .tab-ser {
    text-align: center;
    padding: 0px;
}


/* notesheet signature */

.signature p:first-child {
    opacity: .5;
    margin-left: 50px;
}

.signature h5 {
    text-transform: uppercase;
}


/* designation */

.designation h5 {
    text-transform: uppercase;
    text-decoration: underline;
}

.caption {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 4px;
}

.source-office-details>p {
    font-size: 14px;
    line-height: .35em;
}

.authority p {
    font-size: 14px;
}

.authority {
    display: flex;
    justify-content: space-between;
}

.authority-details {
    width: 74% !important;
}

.authority-date {
    width: 26% !important;
}

.title-text {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-align: justify;
}

.designation {
    font-size: 14px;
    line-height: .35em;
    font-weight: bold;
    text-decoration: underline;
}

.body >p {
    margin-bottom: 1rem !important;
}

.body .textBold {
    font-weight: bold;
    text-decoration: underline;
}

.body p {
    margin-bottom: 10px;
}